@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Kaushan+Script&family=Raleway:wght@300;400;500;600;700&family=Roboto:wght@100;400;500;700&display=swap');
:root {
     --d-yellow : #c59d5f;
     --light : #f9f9f9;
     --dark : #222;
     --PColor : #a5a5a5;
     --font-Kaushan : 'Kaushan Script', cursive;
     --font-Great : 'Great Vibes', cursive;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif; 
    text-decoration: none;
}

.he {
    width: 100%;
    background-color: #222;
    top: 0;
    left: 0;
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.5),var(--dark)),url(food.jpg);
    background-position: center;
    background-size: cover;
    position: fixed; /* Add this line */
}

header {
    width: 100%;
    background-color: #222;
    top:0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.5),var(--dark)),url(food.jpg);
    background-position: center;
    background-size: cover;
}


body{
    font-family: var(--font-Great);
}

header nav {
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav .logo {
    color: white;
    font-size: 50px;
    font-family: var(--font-Great);
    font-weight: bold;
    letter-spacing: 2px;
    cursor: pointer;
}

.logo1, h5, h2 {
    color: var(--d-yellow);
    font-size: 50px;
    font-family: var(--font-Great);
    font-weight: bold;
    letter-spacing: 2px;
}

header nav .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul li {
    display: inline-block;
    margin: 0 30px;
    height: 100px;
    position: relative;
    line-height: 100px;
}
header nav ul li::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--d-yellow);
    width: 0%;
    height: 2px;
    transition: 0.3s;
}

header nav ul li:hover::after, header nav ul li.active::after{
    width: 100%;
}

header nav ul li a{
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
}

.btn  {
    font-size: 14px;
    text-transform: uppercase;
    padding: 10px 15px;
    background-color: var(--d-yellow);
    color: white;
}

.btn:hover{
    color: var(--d-yellow);
    background-color: white;
    transition: 0.3s;
}

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}

.col-1{
    width: 100%;
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    text-align: center;
    min-width: 300px;
    color: white;
}
.col-1 h1{
    font-size: 70px;
    margin: 15px 0;
    line-height: 100px;
    font-weight: bold;
}

.col-1 p{
    font-weight: 100;
    margin: 20px auto;
    line-height: 25px;
}

.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
    transition: transform 0.5s;

}

.cat h3{
    font-family: var(--font-Kaushan);
    font-size: 50px;
    margin-bottom: 10px;
} 

.col-3:hover{
    transform: translateY(-5px);

}

.categories {
    margin: 70px 0;
    background-color: var(--dark);
}

.small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

h5{
    margin-bottom: 20px;
}

.categories .small-container .row .col-3 p {
    color: white;
    text-align: center;
    margin-right: 50px;
    margin-top: 12px;
}

.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.col-4 img{
    width: 100%;
}

.title {
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
}

.title::after{
    content: '';
    background: var(--dark);
    width: 180px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.small-container .cat{
    margin-bottom: 5px;
    font-family: var(--font-Kaushan);
    margin-top: 10px;
}

h4 {
    color: var(--dark);
    font-weight: normal;
}

.le {
    color: var(--light);
    font-weight: normal;
}

.col-4 p{
    font-size: 14px;
}

.col-4:hover {
    transform: translateY(-5px);
}

.offer {
    background: var(--dark);
    margin: 70px 0;
    padding: 15px 0;
}

.col-2 .offer-img {
    padding: 50px;
}

.offer h1{
        color: var(--d-yellow);
        font-size: 50px;
        font-family: var(--font-Great);
        font-weight: bold;
        letter-spacing: 2px;
    
}

.offer p{
    color: white;
}

footer{
    background: black;
    color: grey;
    font-size: 14px;
    padding: 60px 0 20px;
}

footer p{
    color: grey;
}

footer h3{
    color: white;
    margin-bottom: 20px;
}

.footer-col-1, .footer-col-2, .footer-col-3{
    min-width: 250px;
    margin-bottom: 20px;
}

.footer-col-1{
    flex-basis: 30%;
}

.footer-col-1 img{
    width: 50%;
    margin-bottom: 20px;
}

.footer-col-3{
    flex-basis: 12%;
}


.col-5{
    flex-basis: 28%;
    box-sizing: border-box;
    text-align: center;
    position: relative;
    cursor: pointer;
    min-width: 230px;
    margin-bottom: 100px;
    z-index: 2;
}

.profil{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background: var(--dark);
    padding: 12px;
}

.profil img{
    width: 100%;
}

.profil h2{
    font-weight: 500;
    margin: 25px 0 10px;
    font-size: x-large;
}

.profil p{
    margin-bottom: 10px;
    color: var(--light);
}

.col-5::before, .col-5::after{
    content: '';
    height: 100px;
    width: 100px;
    background: var(--d-yellow);
    position: absolute;
    z-index: -1;
    animation: none;
}

.col-5::before{
    left: 0;
    top: -8px;
}

.col-5::after{
    right: 0;
    bottom: -8px;
}

.log{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background: var(--dark);
    padding: 12px;
    
}

@keyframes stroke{
    0%{
        height: 8px;
        width: 0px;
    }
    50%{
        height: 8px;
        width: calc(100% + 8px);
    }
    100%{
        height: calc(100% + 16px);
        width: calc(100% + 8px);
    }
}

.col-5:hover::before, .col-5:hover::after{
    animation: stroke 2s linear;
    animation-fill-mode: forwards;
}

section {
    padding: 50px 0;
    margin: 0 auto;
    text-align: center;
    max-width: 800px;
  }
  label {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: left;
  }
  
  input,
  select {
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 100%;
    max-width: 400px;
  }

  .noob{
    background-color: #f44336;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }

  input[type="submit"] {
    background-color: #f44336;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  input[type="submit"]:hover {
    background-color: #e53935;
  }
  @media screen and (max-width: 768px) {
    section {
      padding: 30px 0;
    }
  
    input,
    select {
      max-width: 100%;
    }
  }
  
  .ep {
    margin-top: 0;
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
  }
  
  .login-form {
    width: 400px;
    margin-left:auto;
    margin-right: auto;
    margin-top: 55px;
    margin-bottom: 55px;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 5px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
  
  button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #3e8e41;
  }
  .pull-right {
    float: right;
  }
